# ============================================================
#  UNIGGEST - Variables d'environnement
#  Copiez ce fichier en .env et adaptez les valeurs
# ============================================================

# Serveur
PORT=3000
NODE_ENV=development

# Base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=uniggest

# JWT
JWT_SECRET=uniggest_super_secret_key_changez_moi_en_prod
JWT_EXPIRES_IN=8h

# Upload photos étudiants
UPLOAD_DIR=uploads/photos
MAX_FILE_SIZE=2097152
